<div class="flex flex-row">
  <div class="login w-3/4 h-screen">
    <div class="text-center">
      <p class="text-5xl opacity-8 mt-12 text-white font-extrabold"> THRYMR LUCKNOW TEAM</p>
    </div>
    </div>
   <div class="w-3/12 bg-[#fef2f247]">
    <div class="flex h-screen  justify-center items-center">
 <div>
   <form class="mx-20 space-y-6" action="">
    <p class="text-4xl opacity-8 font-bold">Login</p>
<div>
  <label for="">Name of Employee</label>
  <input type="text" class="input-text w-full">
</div>
<div>
  <label for="">Password</label>
  <input type="text" class="input-text w-full">
</div>

<div>
  <input type="checkbox"> <span>Remember me</span>
</div>

<div class="">
  <button class="py-3 signup rounded-md w-full text-white font-bold">Sign in</button>
</div>
<div>
  <p>Don't have an acoount? <span>Sign up</span></p>
</div>
<div>
  Login with social media 
  <div>
    <span><img src="" alt=""></span>
    <span><img src="" alt=""></span>
    <span><img src="" alt=""></span>

  </div>
</div>
  </form>


 </div>
    </div>
   </div>
</div>
