<div class="main-container">
    <div class="content">
        <h1>Sign In</h1>
        <input type="text" placeholder="Username or Email">
        <input type="text" placeholder="Password">
        <div class="align-btn">
            <button class="login-btn">SIGN IN</button>
        </div>
        <p class="sub-head">Or Login with</p>
        <div class="align-btn social-icon">
            <img src="../../assets/icons8-gmail-logo.svg" width="40" alt="">
            <img src="../../assets/icons8-facebook-circled.svg" alt="" width="40" style="margin-left: 15px;">
        </div>
        <div class="align-btn">
            <button class="signup-btn">SIGN UP</button>
        </div>
    </div>
</div>